mat-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

mat-form-field,
mat-checkbox {
  width: 100%;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
